.Card {
    width: 650px;
    min-height: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.upper-container {
    height: 110px;
    background: linear-gradient(to left, #00CCCC, #6666FF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.user-info-container, .contact-info-container, .personal-info-container, .tags-courses-container {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

.user-info-container h2 {
    margin: 10px 0 5px;
    color: #333;
}

.user-info-container h4, .contact-info-container p, .personal-info-container p, .tags-courses-container p {
    margin: 5px 0;
    color: #666;
}

.comments-container, .interaction-container {
    padding: 20px;
}

.comments-container {
    border-top: 1px solid #eee;
}

.interaction-container {
    text-align: center;
}

.input-comment {
    width: calc(100% - 24px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    margin-top: 10;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font: bold;
    background-color: white;
    border: 2px solid #009999;
    padding: 0.6rem;
    border-radius: 6px;
    transition-duration: 0.5s;
    animation: ease-in-out;
    margin-right: 0.5rem; 
    padding: 0.4rem 0.8rem; 
    font-size: 0.9rem;
}

button:hover{
    background-image: linear-gradient(to left, #00CCCC, #6666FF);
    transform: scale(1.2);
    border: none;
    color: white;
}