/* Style for the form container */
.form-container {
  width: 100%; /* Set a percentage width */
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items horizontally at the center */
}

/* Style for form content editor */
.form-content-editor .ql-editor {
  min-height: 250px; /* Adjust the height as needed */
  margin-bottom: 20px;
}


/* Style for form inputs */
.form-group {
  width: 100%; /* Ensure the form groups take full width */
  max-width: 400px; /* Set a maximum width for better readability */
}

/* Style for form labels */
.form-label {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px; /* Add some space between label and input */
}

/* Style for form title input */
.form-content-textarea,
.form-class-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px; /* Add some space between inputs */
}

.form-title-input,
.form-image-input {
  width: 96%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* Style for form submit button */
.form-submit-button {
  width: 20%;
  max-width: 200px; /* Set a maximum width for better appearance */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #567ace;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 20px;
}

.form-submit-button:hover {
  background-color: #0056b3;

}

/* Optional: Style for error messages */
.error-message {
  color: red;
  font-size: 14px;
}
