.container {
    position: relative;
    width: 200px;
    padding: 24px;
}

.input-field{
    display: flex;
    align-items: center;
    margin: auto;
    width: 360px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.input-field input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
    padding: 10px;
}

.toggle-icon{
    color:darkgray;
    
}

