.sidebar {
    flex: 3;
    height: calc(100vh - 50px); 
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-trach {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179,179,179)
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarPersonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarPerson {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebarPersonName {
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
    text-decoration: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon {
    margin-right: 15px;
}

.sidebarButton {
    width: 175px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.sidebarHr {
    margin: 20px 0;
}