.home {
    position: relative;
    width: 100%;
    margin-top: -20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(108,45,253,1) 100%);
    padding-top: 50px;
    overflow: visible;
}

.home h3 {
    background: #222;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 22px;
    letter-spacing: 2px;
    color: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.home-page {
    text-align: center;
}

.search-results {
    width: 100%;
}

.search-results-container {
    margin-top: 100px;
}