.title {
    color: #3c009d;
    font-size: 45px;
    font-weight: 700;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.registration-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    padding-bottom: 30px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: -50px;
}