.phoneContainer {
    position: relative;
    margin-left: 24px;
    width: 360px;
}

.userregistrationinfo-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #fff;
    padding-bottom: 30px;
}

.title-1 {
    margin-top: 0px;
    color: #3c009d;
    font-size: 53px;
    font-weight: bolder;
}

.title-2 {
    margin-top: -13px;
    color: #2D68C4;
    font-size: 30px;
    font-weight: 500;
}

.underline {
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.phoneContainer {
    position: relative;
    margin: 3px auto;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.genderContainer {
    position: relative;
    margin: 3px auto;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.yearContainer {
    position: relative;
    margin: 3px auto;
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}

.majorContainer {
    position: relative;
    padding: 8px;
    margin: 3px auto;
    width: 480px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #eaeaea;
    border-radius: 6px;
}

.courseContainer {
    position: relative;
    margin: 3px auto;
    padding: 8px;
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
    border-radius: 6px;
}

.input-left {
    margin-left: 80px; 
    width: 100%;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin-top: -50px;
}

.tag-input-container input {
    width: calc(100% - 20px); /* Adjust based on padding */
    padding: 8px;
    margin-bottom: 10px; /* Space between input and tag list */
}

.tag-box{
    margin-top: 11px;
    border-radius: 10px;
    padding: 7px;
    width: 350px;
    margin-right: -5px; 
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Space between tags */
    margin-top: 10px;
}

.tag {
    padding: 5px 10px;
    background-color: #d1e3f8; /* Light blue background, adjust as needed */
    border-radius: 15px; /* Rounded corners for tags */
    white-space: nowrap; /* Prevents the text inside tags from wrapping */
}
.delete-tag {
    margin-left: 8px;
    cursor: pointer;
    color: #ff0000; /* Red color for the delete icon, adjust as needed */
}