.itemList {
    position: absolute;
    top: 40px;
    left: 5px; /* Adjust left position as needed */
    width: 110%; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
    background-color: #fff;
}

.itemSearch {
    width: 110%;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
    font-size: medium;
    margin-top: 0px;
    margin-left: 5px;
}

.listButton {
    margin-left: 10px;
    width: 90%;
    text-align: left;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
}

.listButton:hover {
    background-color: lightgray;
}

.selectedItem {
    display: inline-flex;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: small;
    margin: 5px;
    margin-bottom: 0px;
}

.xButtonContainer {
    display: inline-flex;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin-left: 10px;
    height: 15px;
    width: 15px;
}

.removeButton {
    position: relative;
    align-self: center;
    width: 12px;
    height: 12px;
}

.xButtonContainer:hover {
    background-color: lightgray;
    border-radius: 50%;
}

.submitButton {
    position: relative;
    margin-left: 24px;
}

.selectedItemsContainer {
    position: absolute;
    top: 100%; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    width: 100%; /* Adjust as needed */
    background-color: #ffffff;
    border-top: none;
    z-index: 2;
  }
  