.container {
    position: relative;
    width: 200px;
    padding: 24px;
}

.input-field{
    position: relative;
    height: 30px;
    width: 100%;
}

.input-field input{
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.input-field label {
    position: absolute;
    top: -30px;
    left: 0;
    color: #555;
    pointer-events: none;
    display: block;
}

.input-field span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height:2px;
}
