.phoneContainer {
    position: relative;
    margin-left: 24px;
    width: 360px;
}

.genderContainer {
    position: relative;
    margin: 24px;
}

.yearContainer {
    position: relative;
    margin: 24px;
}

.majorContainer {
    position: relative;
    margin: 24px;
    width: 325px;
}

.courseContainer{
    position: relative;
    margin: 24px;
    width: 325px;
}

