.phoneContainer {
    position: relative;
    margin-left: 24px;
    width: 360px;
}

.genderContainer {
    position: relative;
    margin: 24px;
}

.yearContainer {
    position: relative;
    margin: 24px;
}

.courseContainer{
    position: relative;
    margin: 24px;
    width: 320px;
}

.courseList {
    position: relative;
    display: block;
}

.courseSearch{
    width: 100%;
}

.courseList-content {
    display: block;
    position: absolute;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1;
    background-color: #fff;
}

.courseListItem {
    width: 100%;
    text-align: left;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
}

.courseListItem:hover {
    background-color: lightgray;
}